h1 {
    text-align: center;
    font-family: sans-serif;

}
table {
    border: 1px solid #000000;
    table-layout: fixed;
    width: 100%;
    margin-top: 30px; 
    color: rgb(16, 4, 27);
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 14px;
    }

th {
    background-color: #f3bfbf;
    text-align: center;
    border: 1px solid #000000;
}

td {
    background-color: rgb(240, 215, 178);
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    font-family: sans-serif;
}

.othernometall {
    background: lime
}

.alkalimetals {
    background: rgb(238, 9, 97)
}

.halogens {
    background:yellow
}

.noble_gases {
    background:rgb(21, 156, 209)
}

.semimetals {
    background:rgb(76, 117, 81)
}

.transition_metals {
    background:rgb(243, 125, 174)
}

.post-transitional_metals {
    background:rgb(241, 188, 72)
}

.alkaline_earth_metals {
    background:rgb(199, 108, 241)
}

.lanthanides{
    background:rgb(243, 155, 192)
}

.actinides{
    background:rgb(155, 79, 111)
}