.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.switchButton {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
    background-color: #393a4a;
    border: 0;
}

.switchButton svg {
    width: 25px;
    height: 25px;
}

button.switchButton {
    background-color: #393a4a;
    border: 1px solid;
    border-radius: 5px;
}

button.active {
    background-color: #e9cfc7;
}

button.active:active {
    background-color: #393a4a;
}

button.filtered {
    background-color: #812103;
}