* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-width: calc(374px - 3rem);
}

button:hover {
    color: #812103;
    border: 1px solid  #e19e87;
    background-color: #e9cfc7;
}

button:active {
    color: #f4e2db;
    border: 1px solid  #53556c;
    background-color: #393a4a;
}

button {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    text-align: center;
    color: #141414;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    border: 1px solid  #faf0ed;
    background-color: #faf0ed;
}