@import url(../generics/styles.css);

.button-block__register {
    color: #1A226B;
}

.main__form-wrapper {
    width: 600px;
    height: 875px;
    margin-top: 80px;
    margin-left: calc((100vw - 600px) / 2);
    font-family: 'Roboto', normal;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 26px;
    padding-bottom: 37px;
    display: flex;
    flex-direction: column;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-wrapper__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #787878;
}

.form-wrapper__input-group {
    padding: 0 0 11px 0;
    color: #787878;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.form-wrapper__input-group > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.form-wrapper__input-group > div > div {
    width: auto;
    text-align: right;
    color: #EE2424;
}

.hidden {
    opacity: 0;
}

.form-wrapper__input-group label::before {
    content: '*';
    position: absolute;
    opacity: 1;
    left: -10px;
}

.form-wrapper__input-group > label {
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0.3125em;
    font-family: 'Roboto', sans-serif;
    color: #787878;
}

.form-wrapper__input-group > input {
    color: #787878;
    border: 2px solid #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.75em;      /* 1.75em = 28px при 1em = 16px из input-group */
    line-height: 1.286em;   /* шрифт уже изменён в пред строке, считаем em от него (1em = 28px)*/
    width: 100%;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.form-wrapper__input-group > .red-border {
    border: 2px solid #EE2424;
}

.form-wrapper__radio-group {
    margin-bottom: 1px;
}

.form-wrapper__radio-group label {
    color: #787878;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.radio-group__radio-item {
    justify-content: baseline;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.radio-group__radio-item label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    margin-top: 4px;
}

.radio-group__radio-item input+label {
    color: #787878;
}

.radio-group__radio-item label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #787878;
    border-radius: 50%;
}

.radio-group__radio-item label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background: #787878;
    opacity: 0;
    transition: opacity 0.2s;
}

.radio-group__radio-item input:checked+label::after {
    opacity: 1;
}

.radio-group__radio-item input {
    margin: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.form-wrapper__text-group {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper__text-group textarea {
    resize: none;
    width: 100%;
    height: 246px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    padding-left: 15px;
    padding-top: 7px;
    color: #787878;
    border: 2px solid #787878;
}

.form-wrapper__text-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    margin-bottom: 5px;
    margin-top: 5px;
}


.form-wrapper__checkbox-group {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}

.form-wrapper__checkbox-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
    margin-left: 10px;
    margin-top: 4px;
}

.form-wrapper__checkbox-group label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;    /* + 2*2 на border = 24px */
    border: 2px solid #787878;
}

.form-wrapper__checkbox-group label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    height: 12px;
    width: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    background: #787878;
}

.form-wrapper__checkbox-group input:checked+label::after {
    opacity: 1;
}

.form-wrapper__checkbox-group input {
    opacity: 0;
    width: 24px;
    height: 24px;
    margin: 0;
}

.form-wrapper__button-bloсk {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
}

.button-bloсk__enter {
    width: fit-content;
    /* height: 52px; */
    background-color: #1A226B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    padding: 16px;
    color: white;
    margin-top: auto;
}

@media screen and (min-width: 269px) and (max-width: 600px) {
    .main {
        min-width: 272px;
    }

    .main__form-wrapper {
        width: 100%;
        min-width: 268px;
        margin-left: 0;
    }

    .form-wrapper__input-group > input {
        padding-left: calc(15px - (13/220 * (600px - 100vw)));     /* 15 - 2 = 13px. 600 - 380 = 220px. 380px макс ширина формы когда текст помещается в input */
        font-size: calc(28px - (12/332 * (600px - 100vw)));  /* 28px - 16px = 12px. 600px - 268px = 332px */
    }

    .form-wrapper__text-group textarea {
        padding-left: calc(15px - (13/220 * (600px - 100vw)));     /* 15 - 2 = 13px. 600 - 380 = 220px. 380px макс ширина формы когда текст помещается в input */
        font-size: calc(28px - (12/332 * (600px - 100vw)));  /* 28px - 16px = 12px. 600px - 268px = 332px */
    }
}

@media screen and (max-width: 268px) {
    .main {
        min-width: 272px;   /* дальше уже выглядит совсем непристойно */
    }

    .main__form-wrapper {
        width: 100%;
        min-width: 268px;
        margin-left: 0;
    }

    .form-wrapper__input-group > input {
        padding-left: 2px;
        font-size: 16px;
    }

    .form-wrapper__text-group textarea {
        padding-left: 2px;
        font-size: 16px;
    }
}

@media screen and (max-width: 402px) {
    .form-wrapper__checkbox-group label {
        line-height: 12px;
        margin-top: 0;
    }
}