*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.shading-block{
    background: #1B2473;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 412px;
    top: 82px;
    left: calc(50vw - 300px);
    background: white;
    position: absolute;
    z-index: 1;
    border: 1px solid #1B2473;
    border-radius: 20px;
}

.form-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
    margin-bottom: 0.1em;
}

.input-group {
    padding: 16px 45px 16px 45px;
    color: #787878;
    display: flex;
    flex-wrap: wrap;
}

.input-group > label {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.input-group > input {
    color: #787878;
    border: 2px #787878 solid;
    border-radius: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    padding-left: 15px;
    padding-top: 6;
    padding-bottom: 6;
}

.checkbox-group {
    padding-left: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}

.checkbox-group > label {
    
}

.button-bloсk {
    padding-left: 45px;
}

.button-blok__enter {
    width: 180px;
    height: 52px;
    background-color: #1A226B;
    border: #1A226B 2px solid;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: white;
}