.main {
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    flex-grow: 1;
}

.main__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-items: center;
}

.main__container button {
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px 10px;
}

@media screen and (max-width: 690px) {

    .main__container button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 430px) {
    .main {
        margin-left: 0;
        margin-right: 0;
    }

    .main__container {
        flex-direction: column;
    }
}