.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-around;
}

.main__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.main__text_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 690px) {
    .main {
        padding-left: 4%;
        padding-right: 4%;
    }
}