.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

}

.main_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.linkElement {
    display: flex;
    flex-direction: row;
}

.main a {
    color: #f4e2db;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    text-decoration: none;
}

.margin {
    margin-right: 1.8rem;
}

a.sublink {
    text-decoration-style: dashed;
}

.main a.active {
    text-decoration-line: overline;
    text-decoration-style: solid;
}

.main a.active:hover {
    text-decoration-line: overline;
    text-decoration-style: solid;
}

.main a.active.sublink {
    text-decoration-line: overline;
    text-decoration-style: dashed;
}

.main a.active.sublink:hover {
    text-decoration-line: overline;
    text-decoration-style: dashed;
}

.main a:hover {
    text-decoration-line: overline;
    text-decoration-style: dotted;
}

@media screen and (max-width: 690px) {
    .main_links {
        justify-content: center;
    }
}

@media screen and (max-width: 475px) {
    .main_links {
        flex-direction: column;
        margin: 0;
    }

    .main {
        flex-direction: column;
        justify-content: space-around;
    }

    .main a {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .margin {
        margin-right: initial;
    }
}