.main {
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #393a4a;
    color: #faf0ed;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    min-width: calc(374px - 3rem);
    z-index: 100;
}

.image_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_title_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image_block img {
    width: 60px;
    height: 60px;
}

.main p {
    margin-left: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 1.5rem;
    text-align: center;
    max-height: 3.8rem;
    overflow-x: hidden;
    text-wrap: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.main p::-webkit-scrollbar {
    width: 0;
}

.main_internal {
    flex-grow: 1;
    align-items: center;
}

@media screen and (min-width: 691px) {
    .main {
        height: 80px;
    }
}

@media screen and (max-width: 880px) and (min-width: 691px) {
    .first {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .main {
        flex-direction: column;
        padding-left: 0;
    }

    .main p {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .image_block {
        display: none;
    }
}